<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="categoryMapper">

    <!-- 해당 idx에 맞는 정보 가져오기 -->
    <select id="getCategorysByIdx" resultType="com.culturemoa.cultureMoaProject.category.dto.CategoryDTO" parameterType="INTEGER">
        SELECT MAIN.NAME AS MAINNAME, SUB.SUB_IDX, SUB.NAME AS CATEGORYNAME FROM CATEGORY_TBL MAIN
        LEFT JOIN CATEGORYSUB_TBL SUB ON MAIN.IDX = SUB.PARENT_IDX
        <where>
            MAIN.IDX = #{idx}
        </where>
    </select>
</mapper>