<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contentsMapper">
    <resultMap id="getAllContents" type="hashmap">

    </resultMap>

    <select id="getAllContents" resultType="Map" >
        SELECT CONT.IDX, CONT.USER_IDX, CONT.CATEGORY_IDX, CONT.TITLE, CONT.DIVISION,
               CONT.CONTENT, DATE_FORMAT(CONT.SDATE, '%m/%d') AS SDF
        FROM CONTENTS_TBL CONT
        LEFT OUTER JOIN USER_TBL USERT ON
             CONT.IDX = USERT.IDX
    </select>

</mapper>