<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">

<!--    유저 id를 이용하여 패스워드 가져오기    -->
    <select id="findPasswordByTokenId" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPagePasswordCheckDTO">
        select PASSWORD from USER_TBL where ID = #{id} and WDATE is null
    </select>


<!--    유저 id를 이용하여 소셜 정보 가져옴    -->
    <select id="findSocialLoginByTokenId" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageCheckSocialDTO" >
    <!--   별칭 지정으로 dto와 맞춤     -->
        select SOCIAL_LOGIN as socialLogin from USER_TBL where ID=#{tokenUserId} and WDATE is null
    </select>

    <!--  유저 id를 이용하여 사용자 정보를 가져옴  -->
    <select id="findUserInfoByTokenId" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageGetUserInfoDTO" >
        select NAME, NICKNAME, ADDRESS, EMAIL from USER_TBL where ID=#{tokenUserId} and WDATE is null
    </select>


<!--  유저 아이디를 통해서 마이페이지 갱신된 정보를 업데이트  -->
    <update id="updateUserInfo" parameterType="com.culturemoa.cultureMoaProject.user.dto.MyPageUpdateUserInfoDTO" >
        update USER_TBL
        <set>
            NAME=#{name}, NICKNAME=#{nickName}, EMAIL=#{email}, ADDRESS=#{address}, EDATE = #{eDate},
            <if test="password !='' and password != null">
                password=#{password}
            </if>
        </set>
        where ID = #{id} and WDATE is null
    </update>


<!--  마이페이지 찜 목록 정보 가져오기  -->
    <select id="getWishListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageProductListDTO">
        select P.IDX, P.TITLE, P.PRICE, P.FLAG, PD.CONTENT, PD.IMAGE_URL as imageUrl
        from USER_PICK_TBL as UP
        join USER_TBL as U on U.IDX = UP.USER_IDX
        join PRODUCT_TBL as P on P.IDX = UP.PRODUCT_IDX
        join PRODUCT_DETAIL_TBL AS PD on PD.PRODUCT_IDX = P.IDX
        where U.ID = #{userId}
        order by UP.SDATE DESC;
    </select>


<!--  마이페이지 메인에서 찜 목록 최신 2개만 가져오기  -->
    <select id="getMainPeakListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageProductListDTO">
        select P.IDX, P.TITLE, P.PRICE, P.FLAG, PD.CONTENT, PD.IMAGE_URL as imageUrl
        from USER_PICK_TBL as UP
        join USER_TBL as U on U.IDX = UP.USER_IDX
        join PRODUCT_TBL as P on P.IDX = UP.PRODUCT_IDX
        join PRODUCT_DETAIL_TBL AS PD on PD.PRODUCT_IDX = P.IDX
        where U.ID = #{userId}
        order by UP.SDATE DESC;
        limit 2;
    </select>


<!--  마이페이지에 거래 내역에서 판매한 상품 목록을 가져오기  -->
    <select id="getMySellListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageProductListDTO" >
        select P.IDX, P.TITLE, P.PRICE, P.FLAG, PD.CONTENT, PD.IMAGE_URL as imageUrl
        from USER_TRANSACTION_TBL as UT
        join USER_TBL as U on U.IDX = UT.USER_IDX
        join PRODUCT_TBL as P on P.IDX = UT.PRODUCT_IDX
        join PRODUCT_DETAIL_TBL AS PD on PD.PRODUCT_IDX = P.IDX
        where U.ID = #{userId}
        order by UT.SDATE DESC;
    </select>


<!--  마이페이지에 거래 내역에서 구매한 상품 목록을 가져오기  -->
    <select id="getMyBuyListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageProductListDTO" >
        select P.IDX, P.TITLE, P.PRICE, P.FLAG, PD.CONTENT, PD.IMAGE_URL as imageUrl, UT.DIVISION
        from USER_TRANSACTION_TBL as UT
        join USER_TBL as U on U.IDX = UT.USER_IDX
        join PRODUCT_TBL as P on P.IDX = UT.PRODUCT_IDX
        join PRODUCT_DETAIL_TBL AS PD on PD.PRODUCT_IDX = P.IDX
        where U.ID = #{userId}
        order by UT.SDATE DESC;
    </select>


<!--  마이페이지 게시판 탭에서 사용자 작성 게시판 정보 가져오기  -->
    <select id="getMyBoardListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageBoardDTO" >
        select C.IDX, C.TITLE, C.DIVISION
        from CONTENTS_TBL as C
        join USER_TBL as U on U.IDX = C.USER_IDX
        where U.ID = #{userId}
        order by C.SDATE DESC;
    </select>


<!--  마이페이지 게시판 탭에서 사용자 작성 댓글 정보 가져오기  -->
    <select id="getMyCommentListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageCommentDTO" >
        select CC.TEXT, CC.IDX, CC.SDATE
        from CONTENTS_COMMENT_TBL as CC
        join USER_TBL as U on U.IDX = CC.USER_IDX
        where U.ID = #{userId}
        order by CC.SDATE DESC;
    </select>


<!--  마이페이지 메인에서 별점에 표시할 평균 점수 가져오기  -->
    <select id="getTotalRating" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.MyPageAverageRatingDTO" >
        select avg(RATING) as myPageTotalRating
        from USER_REVIEW_TBL as UR
        join USER_TBL as U on U.IDX = UR.USER_IDX
        where U.ID = #{userId}
    </select>


<!--  마이페이지 리뷰 탭 사용할 사용자 리뷰 정보 가져오기  -->
    <select id="getMyReviewListInfo" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.ReviewListDTO" >
        select UR.REVIEW, UR.IDX, UR.SDATE, UR.EVALUATION
        from USER_REVIEW_TBL as UR
        join USER_TBL as U on U.IDX = UR.USER_IDX
        where U.ID = #{userId}
        order by UR.SDATE DESC;
    </select>

</mapper>