<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">
    <!-- 결제 기록 DB 저장 -->
    <insert id="insertPaymentHistory" parameterType="com.culturemoa.cultureMoaProject.payment.entity.PaymentHistory" useGeneratedKeys="true" keyProperty="idx">
        insert into PAYMENT_HISTORY_TBL
        (TID, AMOUNT, PAY_METHOD, BUYER_IDX, SELLER_IDX, PRODUCT_IDX, DELIVERY_ADDRESS)
        values
        (#{tid}, #{amount}, #{payMethod}, #{buyerIdx}, #{sellerIdx}, #{productIdx}, #{deliveryAddress})
    </insert>
    <insert id="insertPaymentStatus" parameterType="com.culturemoa.cultureMoaProject.payment.entity.PaymentStatus" useGeneratedKeys="true" keyProperty="idx">
        insert into PAYMENT_STATUS_TBL
        (TID, CREATED_AT, APPROVED_AT, CANCELED_AT, FAILED_AT)
        values
        (#{tid}, #{created_at}, #{approved_at}, #{canceled_at}, #{failed_at})
    </insert>
    <select id="selectAmountByTid" parameterType="string" resultType="int">
        select AMOUNT from PAYMENT_HISTORY_TBL where TID = #{tid}
    </select>
</mapper>