<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketMapper">
    <select id="getAllTicket" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO" >
        SELECT *
        FROM TICKET_TBL
    </select>

    <!--  상품 검색  -->
    <select id="getTicketBySearchQuery" parameterType="map" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO">
        SELECT IDX, SUB_IDX, TITLE, COMPANY, LINK, SDATE, EDATE, PLACE, PRICE, GRADE, CAST, RUNNINGTIME, IMG, ETC
        FROM TICKET_TBL
        <where>
            <!-- 카테고리 필터 -->
            <if test="categories != null and categories.size() > 0">
                AND SUB_IDX IN
                <foreach item="item" collection="categories" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 제목/출연진 검색 -->
            <if test="query != null and query != ''">
                AND (TITLE LIKE CONCAT('%', #{query}, '%') OR `CAST` LIKE CONCAT('%', #{query}, '%'))
            </if>
            <!-- 날짜 검색(사용자가 선택한 날짜에 하루라도 겹치면 포함) -->
            <if test="startDate != null and endDate != null">
                AND SDATE &lt;= #{endDate}
                AND EDATE &gt;= #{startDate}
            </if>
            <!-- 지난 공연 제외 -->
            <if test="today != null">
                AND EDATE &gt;= #{today}
            </if>
        </where>
        <!-- 날짜순으로 정렬하고 싶다면 활성화 시키기-->
        <!-- ORDER BY sDate ASC -->
    </select>

    <select id="getDateCountsByMonthAndCategories" parameterType="map" resultType="com.culturemoa.cultureMoaProject.ticket.dto.DateCountDTO">
        WITH RECURSIVE CALENDAR AS (
        SELECT DATE(#{startDate}) AS DATE
        UNION ALL
        SELECT DATE_ADD(DATE, INTERVAL 1 DAY)
        FROM CALENDAR c
        WHERE DATE &lt; #{endDate}
        )
        SELECT
        DATE_FORMAT(c.DATE, '%Y-%m-%d') AS DATE,
        SUM(CASE WHEN t.SUB_IDX BETWEEN 3001 AND 3007 THEN 1 ELSE 0 END) AS PERFORMANCE_COUNT,
        SUM(CASE WHEN t.SUB_IDX = 3008 THEN 1 ELSE 0 END) AS SPORTS_COUNT
        FROM
        CALENDAR c
        LEFT JOIN TICKET_TBL t
        ON c.DATE BETWEEN t.SDATE AND t.EDATE
        AND t.EDATE &gt;= #{today} <!-- 지난 공연 제외 -->
        <!-- 카테고리 필터 -->
        <if test="categories != null and categories.size() > 0">
            AND t.SUB_IDX IN
            <foreach item="item" collection="categories" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY c.DATE
        ORDER BY c.DATE
    </select>

    <!-- 티켓 상세정보 -->
    <select id="getTicketInfo" parameterType="map" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO" >
        SELECT IDX, TITLE, COMPANY, LINK, SDATE, EDATE, PLACE, PRICE, GRADE, CAST, RUNNINGTIME, IMG, ETC
        FROM TICKET_TBL
        WHERE IDX = #{idx}
        AND EDATE &gt;= #{today} <!-- 지난 공연 제외 -->
    </select>
</mapper>