<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticketMapper">
    <select id="getAllTicket" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO" >
        SELECT *
        FROM TICKET_TBL
    </select>

    <!--  상품 검색  -->
    <select id="getSearch" parameterType="map" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO">
        SELECT IDX, SUB_IDX, TITLE, COMPANY, LINK, SDATE, EDATE, PLACE, PRICE, GRADE, CAST, RUNNINGTIME, IMG, ETC
        FROM TICKET_TBL
        <where>
            <!-- 카테고리 필터 -->
            <if test="categories != null and categories.size() > 0">
                AND SUB_IDX IN
                <foreach item="item" collection="categories" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 제목/출연진 검색 -->
            <if test="query != null and query != ''">
                AND (TITLE LIKE CONCAT('%', #{query}, '%') OR CAST LIKE CONCAT('%', #{query}, '%'))
            </if>
            <!-- 날짜 검색(사용자가 선택한 날짜에 하루라도 겹치면 포함) -->
            <if test="startDate != null and endDate != null">
                AND SDATE &lt;= #{endDate}
                AND EDATE &gt;= #{startDate}
            </if>
        </where>
        <!-- 날짜순으로 정렬하고 싶다면 활성화 시키기-->
        <!-- ORDER BY sDate ASC -->
    </select>

    <select id="getCalendarTicketCount" parameterType="map" resultType="com.culturemoa.cultureMoaProject.ticket.dto.DateCountDTO">
        WITH RECURSIVE CALENDAR AS (
            SELECT DATE(#{startDate}) AS DATE
            UNION ALL
            SELECT CALENDAR(DATE, INTERVAL 1 DAY)
            FROM CALENDAR
            WHERE DATE &lt; #{endDate}
        )
        SELECT
            DATE_FORMAT(C.DATE, '%Y-%M-%D') AS DATE,
            SUM(CASE WHEN T.SUB_IDX BETWEEN 3001 AND 3007 THEN 1 ELSE 0 END) AS PERFORMANCE_COUNT,
            SUM(CASE WHEN T.SUB_IDX = 3008 THEN 1 ELSE 0 END) AS SPORTS_COUNT
        FROM
        CALENDAR C
        LEFT JOIN TICKET_TBL T
        ON C.DATE BETWEEN T.SDATE AND T.EDATE
        <!-- 카테고리 필터 -->
        <if test="categories != null and categories.size() > 0">
            AND T.SUB_IDX IN
            <foreach item="item" collection="categories" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY C.DATE
        ORDER BY C.DATE
    </select>
    <select id="getTicketInfo" parameterType="int" resultType="com.culturemoa.cultureMoaProject.ticket.dto.TicketDTO" >
        SELECT IDX, TITLE, COMPANY, LINK, SDATE, EDATE, PLACE, PRICE, GRADE, CAST, RUNNINGTIME, IMG, ETC
        FROM TICKET_TBL
        WHERE IDX = #{idx}
    </select>
</mapper>