<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <!--    -->
    <insert id="insertUser" parameterType="com.culturemoa.cultureMoaProject.user.dto.UserDTO">
        insert into USER_TBL
        ( ID, NAME, EMAIL, PASSWORD, ADDRESS, NICKNAME, SOCIAL_LOGIN, SDATE)
        values
        (#{id}, #{name}, #{email}, #{password}, #{address}, #{nickName}, #{socialLogin}, #{sDate})
    </insert>

    <!--    유저 id를 이용하여 아이디 패스워드 가져오기    -->
    <select id="findByLoginId" parameterType="String" resultType="com.culturemoa.cultureMoaProject.user.dto.UserLoginRequestDTO">
        select ID, PASSWORD from USER_TBL where ID = #{id}
    </select>

    <!--  아이디/ 닉네임 중복 체크  -->
    <select id="duplicateIdCheck" parameterType="String" resultType="int">
        select count(*) from USER_TBL where ${columnName} = #{pCheckList}
    </select>

</mapper>
